* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.video {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100vw;
    height: 400px;
    background-color: black;
}

.vidClass {
    height: 90%;
    width: 90%;
    background-color:yellow;
}
